---
---

@import "{{ site.theme }}";
@media screen and (max-width:
  480px){
    .inner{
      min-width:inerit;
    }
}
@media screen and (max-width:
  320px){
    .inner{
      min-width:inherit;
    }
}
body{color:#444;font-size:18px}
